{
 "getAllNotesFunction": {
  "DYNAMODB_TABLE": "Notes"
 },
 "getNoteFunction": {
  "DYNAMODB_TABLE": "Notes"
 },
 "putNoteFunction": {
  "ITEM_QUEUE": "WriteQueue"
 },
 "updateNoteFunction": {
  "ITEM_QUEUE": "WriteQueue"
 },
 "writeNoteFunction": {
  "DYNAMODB_TABLE": "Notes"
 },
 "deleteNoteFunction": {
  "DYNAMODB_TABLE": "Notes"
 }
}
